@font-face {
	font-family: "Branda-yolq";
	src: "./assets/Branda-yolq.ttf";
	font-weight: 600;
	font-style: normal;
}

body {
	background-color: black;
}

.container {
	background-color: white;
	width: 600px;
	margin: 0 auto;
	padding: 2em;

	main {
		width: 550px;
		padding: 2.5em;
	}
}

h1 {
	color: white;
	font: bold 30px Branda-yolq, sans-serif;
	padding: 20px;
}

img {
	height: 25%;
	width: 25%;
	padding: 20px;
}

button {
	padding: 20px;
	margin: 20px;
}
